* {
    margin: 0px;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 30px ;
    justify-content: space-evenly;
}



.header a {
    margin-right: 20px;
    color: black;
    font-size: 13px;
    text-decoration: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.header a:hover {
    text-decoration: underline;
}

.header_right {
    display: flex;
    min-width: 13px;
    align-items: center;
    justify-content: space-between;
    
}

.header_right .header_apps {
    display: flex;
    margin-right: 10px;
}

.mainbody {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.mainbody > img {
    object-fit: contain;
    height: 100px;
}

.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search_input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
}




.search_input .material-icons {
    color: grey;
}

.search_buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_buttons button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.search_buttons button a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: inherit;
    color:black;
}